@import "~bootstrap/dist/css/bootstrap.min.css";
@import "../../public/css/lib/fontawesome-all.min.css";



$i: 50;
@while  $i >= 0 {
  .mb-#{$i} {
    margin-bottom: $i + px !important;
  }
  .mt-#{$i} {
    margin-top: $i + px !important;
  }
  .ml-#{$i} {
    margin-left: $i + px !important;
  }
  .mr-#{$i} {
    margin-right: $i + px !important;
  }
  .pb-#{$i} {
    padding-bottom: $i + px !important;
  }
  .pt-#{$i} {
    padding-top: $i + px !important;
  }
  .pl-#{$i} {
    padding-left: $i + px !important;
  }
  .pr-#{$i} {
    padding-right: $i + px !important;
  }
  .px-#{$i} {
    padding-left: $i + px !important;
    padding-right: $i + px !important;
  }
  .py-#{$i} {
    padding-top: $i + px !important;
    padding-bottom: $i + px !important;
  }
  $i: $i - 5;
}

@keyframes smooth-appearance {
  from { opacity: 0; }
  to { opacity: 1; }
}

.a-appearance {
  animation: smooth-appearance;
  animation-duration: 0.3s;
}

@font-face {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: 900;
  src:
    url(/font/fa-solid-900.woff2) format("woff2"),
    url(/font/fa-solid-900.woff) format("woff");
}


body {
  font-family: "Comic Sans MS", "ubuntu";
  background-image: url('/img/glitch.png');
  background-image: url('/img/wild-sea.png');
  background-image: url('/img/celebration.png');
  color: #34485c;
  font-size: 16px;
  background-attachment: fixed;
}


.app {
  &__container {
    min-height: 100vh;
    background: #fff;
    box-shadow: 
      inset 12px 0 25px -15px rgba(0,0,0,0.9),
      inset -12px 0 25px -15px rgba(0,0,0,0.9);
  }

  &__error {
    color: #c9302c;
  }

  &__mix-row {
    min-height: 62px;
  }

  &__perk-value {
    font-size: 13px;
  }
  &__tooltip {
    padding: 5px;
    font-size: 13px;
    display: inline-block;
    vertical-align: top;
    color: #007bff;
    cursor: help;
  }
  &__saved-result {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
